<section class="hero is-medium is-primary is-bold is-fullheight ">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        SummarizR makes note taking efficient.
      </h1>
      <h2 class="subtitle">
        Login to get started.
      </h2>
      <div class="column">
	      <a class="button is-large is-danger">
			    <span class="icon is-medium">
			      <i class="fab fa-google"></i>
			    </span>
			    <span>Login with Google</span>
			  </a>
			</div>
			<div class="column">
			  <a class="button is-large is-link">
			    <span class="icon is-medium">
			      <i class="fab fa-facebook"></i>
			    </span>
			    <span>Login with Facebook</span>
			  </a>
		  </div>
    </div>
  </div>
</section>