<div class="columns">
  <div class="column is-one-third">
  	<aside class="menu">
		  <!-- <p class="menu-label">
		    <span class="icon"><i class="fas fa-star fa-sm" aria-hidden="true"></i></span>Favorites
		  </p>
		  <ul class="menu-list">
		    <li><a>CS240 Lecture 23</a></li>
		    <li><a class="is-active">MA166 Lecture 13</a></li>
		  </ul> -->
		  <p class="menu-label">
		    <span class="icon"><i class="fas fa-history fa-sm" aria-hidden="true"></i></span>Recent
		  </p>
		  <ul class="menu-list">
		    <li *ngFor="let title of getKeys(notes)">
		    	<a (click)="selectNote(title)">{{title}}</a>
		    </li>
		  </ul>
		</aside>
  </div>
  <div class="column has-background-success box">
  	<video controls style="width:100%;height:360px;" poster="{{currentNote.thumbnail_url}}" id="mainVideo">
          <source src="{{currentNote.content_url}}" 
                  type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
        </video>
		<div class="summaries">
      <article class="media has-background-white box" *ngFor="let summary of currentNote.sentences">
        <figure class="media-left">
          <a class="button is-success" (click)="jumpTo(summary.time_stamp)">
            <span>{{getTime(summary.time_stamp)}}</span>

            <span class="icon is-small">
              <i class="fas fa-angle-double-right"></i>
            </span>
          </a>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              {{summary.sentence}}
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>