<nav class="navbar is-spaced is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="/assets/leaf.svg" width="112" height="28">
        <span style="color: black; font-size: 2em; font-weight: bold;">SummarizR</span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-end" *ngIf="user">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{user.firstname}}
        </a>

        <div class="navbar-dropdown is-right">
          <a class="navbar-item" (click)="logout()">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>