<div class="columns">
  <div class="column is-one-third">
    <div class="content box mainBox">
      {{fullText}}
    </div>
  </div>
  <div class="column has-background-info box mainBox">
    <div class="video">
      <div class="columns is-centered">
        <div class="field column">
          <div class="file is-centered is-large is-boxed is-success has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="video" ng2FileSelect [uploader]="uploader" (change)="fileEvent($event)"/>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Upload a Video
                </span> 
              </span>
              <span ng2FileDrop
                       (fileOver)="fileOverBase($event)"
                       [uploader]="uploader"
                       class="file-name">
                      {{fileName ? fileName : "or drag the video here"}}
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="upload-button" *ngIf="uploader.queue.length > 0">
      
      <progress class="progress is-success" value="{{uploader.queue[0].progress}}" max="100"  *ngIf="uploader.queue[0].progress; else uploadButton">{{uploader.queue[0].progress}}%</progress>
      <ng-template #uploadButton>
        <button type="button" class="button is-primary is-centered is-medium" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="icon is-small">
            <i class="fas fa-upload" aria-hidden="true"></i>
          </span>
          <span>Upload</span>
        </button>
      </ng-template>
    </div>
    <div>
      <article class="media has-background-white box">
        <figure class="media-left">
          <p>13:34</p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>
        </div>
        <div class="media-right">
          <button class="delete"></button>
        </div>
      </article>
      <article class="media has-background-white box">
        <figure class="media-left">
          <p>13:34</p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>
        </div>
        <div class="media-right">
          <button class="delete"></button>
        </div>
      </article>
    </div>
  </div>
</div>


<!-- <div class="container columns is-centered">
  <div class="field column">
    <div class="file is-centered is-large is-boxed is-success has-name">
      <label class="file-label">
        <input class="file-input" type="file" name="video" ng2FileSelect [uploader]="uploader" (change)="fileEvent($event)"/>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Upload a Video
          </span> 
        </span>
        <span ng2FileDrop
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="file-name">
                {{fileName ? fileName : "or drag the video here"}}
        </span>
      </label>
    </div>
  </div>
</div>
<div class="container is-centered">
  <div class="column">
    <button type="button" class="button is-primary is-centered is-medium" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      <span class="icon is-small">
        <i class="fas fa-upload" aria-hidden="true"></i>
      </span>
      <span>Upload</span>
    </button>
  </div>
</div> -->