<div class="field">
  <div class="file is-centered is-large is-boxed is-success has-name">
    <label class="file-label">
      <input class="file-input" type="file" ng2FileSelect [uploader]="uploader" />
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Upload a Lecture
        </span> 
      </span>
      <span class="file-name">
        Screen Shot 2017-07-29 at 15.54.25.png
      </span>
    </label>
  </div>
  <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="well my-drop-zone">
              or drag the video here
        </div>
</div>