<div class="container columns is-centered">
  <div class="field column">
    <div class="file is-centered is-large is-boxed is-success has-name">
      <label class="file-label">
        <input class="file-input" type="file" name="video" ng2FileSelect [uploader]="uploader" (change)="fileEvent($event)"/>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Upload a Video
          </span> 
        </span>
        <span ng2FileDrop
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="file-name">
                {{fileName ? fileName : "or drag the video here"}}
        </span>
      </label>
    </div>
  </div>
</div>
<div class="container is-centered">
  <div class="column">
    <button type="button" class="button is-primary is-centered is-medium" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      <span class="icon is-small">
        <i class="fas fa-upload" aria-hidden="true"></i>
      </span>
      <span>Upload</span>
    </button>
  </div>
</div>