<app-navbar></app-navbar>
<section class="section">
  <div class="container is-fullhd">
    <div class="tabs is-fullwidth is-medium is-toggle is-toggle-rounded">
      <ul>
        <li [class.is-active]="onUpload">
          <a (click)="onUpload = !onUpload">
            <span class="icon"><i class="fas fa-upload" aria-hidden="true"></i></span>
            <span>Upload New</span>
          </a>
        </li>
        <li [class.is-active]="!onUpload">
          <a (click)="onUpload = !onUpload">
            <span class="icon"><i class="fas fa-inbox" aria-hidden="true"></i></span>
            <span>Notes</span>
          </a>
        </li>
      </ul>
    </div>
    
    <app-upload *ngIf="onUpload"></app-upload>
    <app-notes *ngIf="!onUpload"></app-notes>

  </div>
</section>